
    <div class="row" style="padding: 0 0 0 30px; margin-top: 15px;
    margin-bottom: 15px;">
        <div class="col-sm-12" >

            <br>
            <img src="assets/image/zehntech-.png" width="35px" height="35px">
            <br>
            <br>
            <div class="dot">
                <mat-icon>drag_indicator</mat-icon>
            </div>
            <br>
            <div class="dot">
                <mat-icon> bar_chart</mat-icon>
            </div>
            <br>
            <div class="dot">
                <mat-icon> mail_outline</mat-icon>
            </div>
            <br>
            <div class="dot">
                <mat-icon>flip_to_front</mat-icon>
            </div>
            <br>
            <div class="dot">
                <mat-icon>settings</mat-icon>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="/assets/user.jpg" style="width: 35px; height: 35px; border-radius: 25px;">
            <br>
            <br>
            <img src="/assets/log.png "style="width: 35px; height: 35px; border-radius: 25px;">



        </div>
       


   